@model WeatherApp.Models.Weather

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Weather</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZIP" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="Day" />
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeelsLike" class="control-label"></label>
                <input asp-for="FeelsLike" class="form-control" />
                <span asp-validation-for="FeelsLike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label"></label>
                <input asp-for="WindDirection" class="form-control" />
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Humidity" class="control-label"></label>
                <input asp-for="Humidity" class="form-control" />
                <span asp-validation-for="Humidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirPressure" class="control-label"></label>
                <input asp-for="AirPressure" class="form-control" />
                <span asp-validation-for="AirPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                <input asp-for="Visibility" class="form-control" />
                <span asp-validation-for="Visibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UVIndex" class="control-label"></label>
                <input asp-for="UVIndex" class="form-control" />
                <span asp-validation-for="UVIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunrise" class="control-label"></label>
                <input asp-for="Sunrise" class="form-control" />
                <span asp-validation-for="Sunrise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunset" class="control-label"></label>
                <input asp-for="Sunset" class="form-control" />
                <span asp-validation-for="Sunset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moonrise" class="control-label"></label>
                <input asp-for="Moonrise" class="form-control" />
                <span asp-validation-for="Moonrise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moonset" class="control-label"></label>
                <input asp-for="Moonset" class="form-control" />
                <span asp-validation-for="Moonset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
