@{
    ViewData["Title"] = "Account";
}
<center>
    <p>
        <br />
        Account
        <br />
    </p>
    <p>
        <br />
        Hello ______!
        <br />
    </p>
    <button type="button">Account info</button>
    
    <p>
        <br />
        <button type="button">Preferences</button>
    </p>
</center>
