@{
    ViewData["Title"] = "Account";
}

    <p>
        <h2>Account</h2>
    </p>
        <p>
            <h3>Hello user!</h3>
            <hr />
        </p>
        <div class="form-group">
            <button type="submit" class="btn btn-default"><a href="https://localhost:44392/Account/Login"><b>Account Info</b></button></a>
        </div>

        <p>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><a href="https://localhost:44392/Account/Login"><b>Preferences</b></button></a>

            </div>
        </p>
