@{
    ViewData["Title"] = "Home Page";
}
<center>
    <p>
        <h2>Weather Database</h2>
        <h3>CS:4400 Group 7</h3>
        <hr />
    </p>
    <p>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
    </div>
    </form>
    </p>
    <p>
        <div class="form-group">
            <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("Login","Account")'">Log in</button>
        </div>
    </p>
    <p>
        <b>New? </b><a onclick="location.href='@Url.Action("Register","Account")'">Create Account.</a>
    </p>
    <hr />
    <p>Nicholas Goodman, Vincent Lopez Tyler Timm, Joaquin Reyes </p>
</center>