@{
    ViewData["Title"] = "Home Page";
}
<center>
<p>
    <br />
    <div class="topnav">
        <input type="text" placeholder="    Enter City / State / Zip...">
    </div>
</p>
<p>
    OR
</p>
<p>
    <button type="button">Login</button>
</p>
<p>
    New? <u>Create Account.</u>
</p>
</center>